/*
This is how you comment in css
*/
/*
Adding a single font to the whole page
*/
* {
    font-family: "Playfair Display";
}
/*
Center top images and make them look nice with borders and spacing
*/
.Images {
    display: flex;
    gap: 0;
    margin: 2em;
    margin-top: 2em;
    padding: 3em;
    justify-content: center;
}
.img-wrapper {
    width: 20%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 0.5em solid #9a4fa1;
    box-sizing: border-box;
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/*
Applying text changes to all h1 tag
*/
h1 {
    color:purple;
    text-align:center;
}
/*
Applying text changes to all h2 tags
*/
h2 {
    text-align:center;
}
/*
Applying text changes to 'Actual-Lyric' class
*/
.Actual-Lyrics{
    text-align:center;
    color: purple;
    text-shadow: Purple;
}
/*
Applying text changes to all h3 tags
*/
h3 {
    color:black;
    text-align: center;
}
.youtube-video {
    display: flex;
    justify-content: center;
    margin: 5em;
}